.App {
  text-align: center;
  background-color: #343A3F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.MainApp {
  width: 630px;
}

.userWrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.chartStyle {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 0.1%;
  margin-right: 1%;
  margin-bottom: 2%;
  border-radius: 8px;
}